setup
README.md

{{ if env "DEVPOD" }}
# Specific configuration to DevContainer
# These files will not be included in a DevPod environnement
.config/ghostty
.config/solaar
.config/fish/functions/ff.fish
.wezterm.lua
{{ end }}

{{ if not (env "DEVPOD") }}
# Specific configuration to non-DevContainer environnement
# These files will not be included in a non-DevPod environnement
.config/mise
.config/mise/config.toml
{{ end }}
